html {
    background-color: antiquewhite
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px auto;
    grid-template-areas:
        "header header"
        "video links"

}

header {
    grid-area: header;
    text-align: center;
}

iframe {
    border-radius: 25px;
}

#videoPlayer {
    grid-area: video;
    padding: 10px;
}

/*-----Link bar------*/
#linkBar {
    display: grid;
    width: 400px;
    height: 200px;
    border-radius: 25px;
    grid-template-columns: 72px 72px 72px;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    align-content: center;
    justify-content: space-evenly;
    grid-area: links;
}

#linkBar img {
    width: 48px;
    height: 48px;
    padding: 6px;
    border: 3px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}